body {
  margin: 0;
  padding: 0;
}

#app-cont {
  position: absolute;
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  height: 100%;
}

#mixer {
  flex: 1;
}

.deck {
  width: 480px;
  height: 100%;
}

.ytp-spinner {
  display: none;
}

.pot-frame {
  position: relative;
  width: 50px;
  height: 250px;
  margin: 10px;
  border: 1px dotted red;
}

.pot-knob {
  position: absolute;
  width: 50px;
  height: 20px;
  border: 1px dotted red;
}
